{% extends 'base.html' %}
{% block content %}

<h1>Plant Info</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ plant.name }}</span>
        <p>Latin Name: {{ plant.latin_name }}</p>
        <p>Date Acquired: {{ plant.date_acquired }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'plants_update' plant.id %}">Edit</a>
        <a href="{% url 'plants_delete' plant.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_feeding' plant.id %}" method="POST">
      {% csrf_token %}
      {{ feeding_form.as_p }}
      <input type="submit" value="Add Feeding" class="btn lime darken-3">
    </form>
    <br>

    {% if plant.fed_for_summer %}
      <div class="card-panel teal-text center-align">{{plant.name}} has been fed sufficiently for summer</div>
    {% else %}
      <div class="card-panel red-text center-align">{{plant.name}} may need some plant food.</div>
    {% endif %}

    <table class="highlight">
      <thead>
        <tr><th>Date of Feeding</th><th>Type</th></tr>
      </thead>
      <tbody>
        {% for feeding in plant.feeding_set.all %}
          <tr>
            <td>{{ feeding.date }}</td>
            <td>{{ feeding.type }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>

<div class="row">
  <div class="col s6">
    <h3>Waterings for your {{ plant.name }}</h3>
    {% if plant.waterings.count %}
      {% for watering in plant.waterings.all %}
        <div class="card">
          <div class="card-content">
            <p>Watered on {{ watering.date }}</p>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_watering' plant.id watering.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn lime darken-3">Remove Watering</button>
            </form>
          </div>
        </div> 
      {% endfor %}
    {% else %}
        <p>No Record of Watering</p>
    {% endif %}
  </div>

  <div class="col s6">
    <h4>Waterings your {{ plant.name }} was not included in.</h4>
    {% if waterings.count %}
      {% for watering in waterings.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ watering.date }}</span>
          </div>
          <div class="card-action" method="POST">
            <form action="{% url 'assoc_watering' plant.id watering.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn lime darken-3">Add Watering to Past Schedule</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else%}
      <h4>Your {{ plant.name }} has been included in every watering.</h4>
    {% endif %}
  </div>
</div>

<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>


{% endblock %}