{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <title>Plant Collector</title>
</head>
<body>
  <div class="wrapper">


    <header class="header">
      <a href="{% url 'home' %}" class="home-link">PLANT COLLECTOR</a>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li><a class="main-nav-link" href="{% url 'about' %}">About</a></li>
          <li><a class="main-nav-link" href="{% url 'plants_index' %}">All Plants</a></li>
          <li><a class="main-nav-link" href="{% url 'plants_create' %}">Add Plant</a></li>
          <li><a class="main-nav-link" href="{% url 'waterings_create' %}">Add Watering</a></li>
          <li><a class="main-nav-link" href="{% url 'waterings_index' %}">View Waterings</a></li>
        </ul>
      </nav>
    </header>
    
    <main class="main">
      {% block content %}
      {% endblock %}
    </main>

    <footer class="footer">
      <div class="footer-text">All Rights Reserved, &copy; 2021 Plant Collector &nbsp;</div>
    </footer>


  </div>
</body>
</html>